.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
 
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
 
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  

  .header-right {
    float: right;
  }
  
  
  
  
  #textAboutme{
    font-size: large;
    max-width: 75%;
    max-height: 75%;
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: lemonchiffon;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  #textAboutme:hover{
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);

  }

  .box1{
    width: 1600px;
    height: 300px;
    flex-direction: row;
    row-gap: 30px;
  margin: auto;
    background-color: #f1f1f1;
   position: relative;
  }

  .box1hover {
    border: 1px solid #777;
  }
  .body{
    background-color: #777;
    min-height: 100vh;
    display:flex;
   
    flex-direction: column;
 
  
  }
  #img{
    width: 1600px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  
  }
  #img:hover{
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
  }
  #Portfolio{
    text-align: center;
    
  }
  #boxRow{
height: 300px;
display: flex;
flex-direction: row;
width: 300px;
background-color: lemonchiffon;
margin-left: 50px;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 50px;
row-gap: 30px;
  }
  
              #boxFlex{
                flex-direction: row;
                display: flex;
                margin: auto;
                text-align: center;
              }
  .footer{ 
    text-align: center;
    padding: 3px;
    background-color: lemonchiffon;
    color: black;
    margin-top: auto;
  }
  #boxRow1{
    height: 300px;
    flex-direction: row;
    width: 300px;
    display: flex;
    background-color: lemonchiffon;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    row-gap: 30px;
      }
      #boxRow2{
        height: 300px;
        flex-direction: row;
        display: flex;
        width: 300px;
        background-color: lemonchiffon;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 50px;
        row-gap: 30px;
          }
          #boxRow3{
            height: 300px;
            width: 300px;
            display: flex;
           
            
            background-color: lemonchiffon;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 50px;
            row-gap: 30px;
              }
 
 #boxRow:hover{
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  
 }
 #boxRow1:hover{
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }
 #boxRow2:hover{
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }
 #boxRow3:hover{
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }
 #imgbookBag{
    width: 300px;
    height: 300px;
 }
 #imgLanguage{
    width: 300px;
    height: 300px;
 }
 #imgCode{
    width: 300px;
    height: 300px;
 }
 #imgWork{
    width: 300px;
    height: 300px;
 }
 #photHeading {
    font-size: large;
    font-weight: 100;
    text-align: center;
    background-imagcdn.hashnode.com/res/hashnode/image/upload/v1618267119643/vGeyQvCM9.png?auto=compress,format&format=webp;
  
   
 }